<section id="speakers" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Casa de Shows</h2>
        <p>Veja as casas cadastradas em nosso site!</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2014/8/119148/cropped/morumbi.jpg" alt="Morumbi" class="img-fluid">
            <div class="details">
              <h3><a href="#">Morumbi</a></h3>
              <p>Estádio do Morumbi</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2014/8/119150/cropped/citibank.jpg" alt="Citibank Hall" class="img-fluid">
            <div class="details">
              <h3><a href="#">Citibank Hall</a></h3>
              <p>Antigo Credicard Hall</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2014/8/119149/cropped/anhembi.jpg" alt="Arena Anhembi
            " class="img-fluid">
            <div class="details">
              <h3><a href="#">Arena Anhembi
            </a></h3>
              <p>Arena Anhembi
            </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2014/8/119151/cropped/autodromo-interlagos.jpg" alt="Arena/ Autódromo de Interlagos" class="img-fluid">
            <div class="details">
              <h3><a href="#">Arena/ Autódromo de Interlagos</a></h3>
              <p>Arena/ Autódromo de Interlagos</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2014/8/119152/cropped/hsbc.jpg" alt="HSBC" class="img-fluid">
            <div class="details">
              <h3><a href="#">HSBC</a></h3>
              <p>HSBC</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2014/8/119154/cropped/americas.jpg" alt="Espaço das Américas" class="img-fluid">
            <div class="details">
              <h3><a href="#">Espaço das Américas</a></h3>
              <p>Espaço das Américas</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </section>

  <section class="pt100 pb100">
    <div class="container">

        <div class="event_box">
            <div class="event_info">
                <div class="event_title">Como cadastrar?</div>
                <div class="speakers">
                    <strong>Cadastre sua casa de show aqui e agora!</strong><br>
                    <span>Leias as normas de acordo para o cadastro</span>
                </div>
                <div class="event_date">11 de Junho de 2020</div>
            </div>
            <div class="event_word">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in lacus a sollicitudin. Ut hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat. Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                    </div>
                    <div class="col-md-6 col-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in lacus a sollicitudin. Ut hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat. Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                    </div>
                </div>
            </div>
            <button class="btn btn-cadastrar" (click)="navigateCasaShowCreate()">Quero cadastrar</button> 
        </div>


    </div>
</section>




  <app-footer></app-footer>
