<section class="new-user" id="new-user">
    <div class="container">
        <div class="title-new-user">
            <div class="row">
                <div class="col-12">
                    <h2>Atualizar cadastro</h2>
                </div>
                <div class="col-md-6" style="margin: 0 auto;">
                    <div class="row-effect">
                        <p>Preencha o formulário</p>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <mat-form-field>
                                <label>Email</label>
                                <input type="email" class="form-control" name="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <label>CPF</label>
                            <input type="text" class="form-control" name="cpf">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <label>Nome e Sobrenome</label>
                            <input type="text" class="form-control" name="nome">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <label>Data de Nascimento</label>
                            <input type="date" class="form-control" name="dataNasc">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <label>Telefone</label>
                            <input type="email" class="form-control" name="telefone">
                        </mat-form-field>
                    </div>     
                    <div class="row">
                        <div class="col-12 col-md-12 d-flex justify-content-center" style="margin: 0 auto;">
                            <hr class="mb-4">
                            <div class="col-12 col-md-4 p-0">
                                <button class="btn btn-cadastrar" color="warn">Atualizar</button>
                            </div>
                            <div class="col-12 col-md-3 p-0">
                                <button class="btn btn-cadastrar" color="accent">Cancelar</button>
                            </div>
                            <div class="col-12 col-md-5 p-0">
                                <button class="btn btn-cadastrar" color="accent">Todos os cadastros</button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>

