.full-width-table {
  width: 100%;
}
.mat-elevation-z8{
  width: 100%;
  /* text-align: center; */
  margin: 0 auto;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 20px 34px 63px 0px rgba(199,193,199,0.68);
  /* padding: 70px 30px; */
}

.matHeaderCellDef{
  text-align: center !important;
}

.mat-sort-header{
  background-color: #f50136;
  color: #fff;
  text-align: center;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom: 1px solid #d2d2d2;
}
.mat-cell{
  padding: 30px 40px 25px;
  /* text-align: center; */
}

.mat-header-row{
  text-align: center;
}