<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="lineup-artists-headline">
                <section class="entry-title">
                    <h2>Quem já participou, sabe que vale a pena!</h2>
                    <p>Venha e faça parte também!</p>
                </section>

                <div class="lineup-artists-wrap flex flex-wrap">
                    <figure class="featured-image">
                        <img src="https://s2.glbimg.com/eKG09FJ3Uk8qlUTgcEc9Pp5pBA0=/0x0:620x465/984x0/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2012/06/22/interna_2.jpg" alt="O Rappa">
                    </figure>

                    <section class="lineup-artists-description">
                        <div class="lineup-artists-description-container">
                            <h2>O Rappa</h2>
                            <div class="entry-content">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                                a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                    </section>                       
                </div>
            </div>        
        </div>
    </div>
</div>  

<div class="eventos-passados">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Confira algumas bandas que já passaram por aqui!</h2>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Cat Dealers</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://statig1.akamaized.net/bancodeimagens/0s/vo/r2/0svor2rmmc485v8xpd2bw8uxy.jpg" alt="">
                    <mat-card-content>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                          a type specimen book.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Cat Dealers</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://statig1.akamaized.net/bancodeimagens/0s/vo/r2/0svor2rmmc485v8xpd2bw8uxy.jpg" alt="">
                    <mat-card-content>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                          a type specimen book.</p>
                    </mat-card-content>
                  </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Cat Dealers</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://statig1.akamaized.net/bancodeimagens/0s/vo/r2/0svor2rmmc485v8xpd2bw8uxy.jpg" alt="">
                    <mat-card-content>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                          a type specimen book.</p>
                    </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-cadastrar" (click)="navigateEventoCreate()">Cadastrar evento</button> 

<app-footer></app-footer>

