#add_new_event {
  padding: 60px 0 60px 0;
}

.mat-card-title{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #18181c;
  line-height: 1.3;
  font-size: 42px;
  margin-bottom: 25px;
  text-align: center;
}

.row-effect {
  background-image: linear-gradient(180deg,transparent 10px,#e3e3e3 0,#e3e3e3 12px,transparent 0);
  text-align: center;
}

.row-effect p {
  display: inline-block;
  background-color: #fff;
  padding: 0 10px;
  text-transform: none;
}

.mat-form-field{
  width: 100%;
  margin: 20px auto 0px;
  display: table;
}


.label{
  display: inline-block;
  margin-bottom: .5rem;
}

input{
  font-size: 12px;
  padding: 12px 15px;
  height: 50px;
  border-radius: 1px;
  background-color: #e2e6f1;
  border: solid 1px #e2e6f1;
  margin-bottom: 4px;
  outline: 0 !important;
  font-style: italic;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.btn-cadastrar{
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 40px;
  outline: 0 !important;
  cursor: pointer;
  border-radius: 50px;
  background-color: #f50136;
  border: solid 1px #f50136;
  color: #ffffff;
  transition: all 300ms ease-in-out;
  margin: 0 auto 60px;
  display: table;
 
}

