#pagamentoIngresso {
  padding: 60px 0 60px 0;
}

#pagamentoIngresso .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}

#pagamentoIngresso .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}

#pagamentoIngresso .nav-tabs a i.icon{
  font-size: 24px;
  margin: 0px 10px 0px 0px;
  top: 3px;
  position: relative;
}

#pagamentoIngresso .nav-tabs a {
  font-weight: 600;
  background-color: #656565;
  color: #fff;
  padding: 10px 80px;
  margin: 0 10px;
}

@media (max-width: 991px) {
  #pagamentoIngresso .nav-tabs a {
    padding: 8px 60px;
  }
}

@media (max-width: 767px) {
  #pagamentoIngresso .nav-tabs a {
    padding: 8px 50px;
  }
}

@media (max-width: 480px) {
  #pagamentoIngresso .nav-tabs a {
    padding: 8px 30px;
  }
}

#pagamentoIngresso .nav-tabs a.active {
  background-color: #f50136;
  color: #fff;
  font-size: 15px;
}

#pagamentoIngresso .sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
}

@media (min-width: 991px) {
  #pagamentoIngresso .sub-heading {
    width: 75%;
  }
}

#pagamentoIngresso .tab-pane {
  transition: ease-in-out .2s;
}

#pagamentoIngresso .schedule-item {
  border-bottom: 1px solid #cad4f6;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}

#pagamentoIngresso .schedule-item:hover {
  background-color: #fff;
}

#pagamentoIngresso .schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}

#pagamentoIngresso .schedule-item .speaker {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
}

#pagamentoIngresso .schedule-item .speaker img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}

#pagamentoIngresso .schedule-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

#pagamentoIngresso .schedule-item h4 span {
  font-style: italic;
  color: #19328e;
  font-weight: normal;
  font-size: 16px;
}

#pagamentoIngresso .schedule-item p {
  font-style: italic;
  color: #152b79;
  margin-bottom: 0;
}
.label{
  display: inline-block;
  margin-bottom: .5rem;
}

input{
  font-size: 12px;
  padding: 12px 15px;
  height: 50px;
  border-radius: 1px;
  background-color: #e2e6f1;
  border: solid 1px #e2e6f1;
  margin-bottom: 4px;
  outline: 0 !important;
  font-style: italic;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.btn-cadastrar, .btn-proximo{
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 20px;
  outline: 0 !important;
  cursor: pointer;
  border-radius: 50px;
  background-color: #f50136;
  border: solid 1px #f50136;
  color: #ffffff;
  transition: all 300ms ease-in-out;
  /* margin: 0 auto 60px; */
  display: table;
 
}

mat-form-field{
  width: 100%;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
  
  #pagamentoIngresso .row-effect{
    background-image: linear-gradient(180deg,transparent 10px,#e3e3e3 0,#e3e3e3 12px,transparent 0);
    text-align: center;
  }
  
  #pagamentoIngresso .row-effect p{
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
    text-transform: none
  }
  
  #pagamentoIngresso .title-new-user{
    text-align: center;
    margin-bottom: 40px;
  }