<section id="add_new_event">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mat-card>
                    <mat-card-title>Deletar Evento</mat-card-title>
                    <div class="col-md-6" style="margin: 0 auto;">
                        <div class="row-effect">
                            <p>Confirme o formulário</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin: 0 auto;">
                            <form>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <mat-form-field>
                                            <label>Nome solicitante</label>
                                            <input type="text" class="form-control" matInput [value]="evento.nomeSolicitante" name="nomeSolicitante" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <mat-form-field>
                                            <label>Nome do Evento</label>
                                            <input type="text" class="form-control" matInput [value]="evento.nomeEvento" name="nomeEvento" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <mat-form-field>
                                            <label>Descrição do Evento</label>
                                            <input type="text" class="form-control" matInput [value]="evento.descricao" name="descricao" disabled>
                                        </mat-form-field>
                                    </div> 
                                    <div class="col-12 mb-3">   
                                        <mat-form-field>
                                            <label>Data do Evento</label>
                                            <input type="date" class="form-control" matInput [value]="evento.data" name="data" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 mb-3">    
                                        <mat-form-field>
                                            <label>Preço do Ingresso</label>
                                            <input type="text" class="form-control" matInput [value]="evento.preco" name="preco" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 mb-3">    
                                        <mat-form-field>
                                            <label>Endereço do Evento</label>
                                            <input type="text" class="form-control" matInput [value]="evento.enderecoEvento" name="enderecoEvento" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 mb-3">    
                                        <mat-form-field>
                                            <label>Quantidade de Ingressos</label>
                                            <input type="text" class="form-control" matInput [value]="evento.quantidadeIngresso" name="quantidadeIngresso" disabled>
                                        </mat-form-field>
                                    </div>   
                                    <div class="col-12 mb-3">
                                        <mat-form-field>
                                            <label>Nome do Patrocinador</label>
                                            <input type="text" class="form-control" matInput [value]="evento.patrocinadorEvento" name="patrocinadorEvento" disabled>
                                        </mat-form-field>
                                    </div>
                                </div>     
                            </form>  
                            
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-12 col-md-8 d-flex justify-content-center" style="margin: 0 auto;">
                            <hr class="mb-4">
                            <div class="col-12 col-md-3 p-0">
                                <button class="btn btn-cadastrar" (click)="deleteEvento()" color="warn">Deletar</button>
                            </div>
                            <div class="col-12 col-md-3 p-0">
                                <button class="btn btn-cadastrar" (click)="cancelarEvento()" color="accent">Voltar</button>
                            </div>
                            <div class="col-12 col-md-4 p-0">
                                <button class="btn btn-cadastrar" (click)="tabelasEvento()" color="accent">Todos os eventos</button>
                            </div>
                            
                            
                        </div>
                    </div>  
                </mat-card>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

